<div
  class="container vw-100 d-flex flex-wrap align-items-center flex-column border border-dark"
>
  <h3>Check out a few restaurants</h3>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {{> restaurant-card}}
    {{> restaurant-card}}
    {{> restaurant-card}}
    {{> restaurant-card}}
    {{> restaurant-card}}
    {{> restaurant-card}}
    {{> restaurant-card}}
    {{> restaurant-card}}
    {{> restaurant-card}}
    
  </div>
</div>