<div
  class="container vw-100 d-flex flex-wrap align-items-center flex-column"
>
  <h3 class="m-5">Check out a few restaurants</h3>
  <div class="row row-cols-2 row-cols-md-4 g-4 mb-5">

  {{#each data.restaurantsList as |restaurant|}}
      {{> restaurant-card}}
  {{/each}}
    
  </div>
</div>