<div class="col">
  <div class="card">
    <img
      src={{logo}}
      class="card-img-top"
      alt="restaurant {{name}} card with information and image"
    />
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">{{description}}</p>
    </div>
  </div>
</div>